{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
<main class="mainIndex">
    <h2>Réalisations</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Compétences</th>
                <th>Github</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><img src="{{ asset('uploads/images/' ~ project.projectPicture) }}" style="width: 80px;"></td>
                <td>{{ project.projectTitle }}</td>
                <td>{{ project.projectText }}</td>
                <td>
                {% for skill in project.skills %}
                    {{ skill.skillTitle }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>{{ project.github }}</td>
                <td>
                    <a href="{{ path('app_projects_edit', {'id': project.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <a href="{{ path('app_projects_new') }}" class="btn">Ajouter</a>
        <a href="{{ path('admin') }}" class="btn">Retour</a>
    </div>
</main>
{% endblock %}
