{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <h1>Projects</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>ProjectPicture</th>
                <td><img src="{{ asset('uploads/images/' ~ project.projectPicture) }}" style="width: 200px;"></td>
            </tr>
            <tr>
                <th>ProjectTitle</th>
                <td>{{ project.projectTitle }}</td>
            </tr>
            <tr>
                <th>ProjectText</th>
                <td>{{ project.projectText }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_projects_index') }}">back to list</a>

    <a href="{{ path('app_projects_edit', {'id': project.id}) }}">edit</a>

    {{ include('projects/_delete_form.html.twig') }}
{% endblock %}
