{% extends 'base.html.twig' %}

{% block title %}Pictures index{% endblock %}

{% block body %}
    <h1>Pictures index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom de l'image</th>
                <th>Projet lié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td><img src="{{ asset('uploads/images/' ~ picture.picture) }}" style="width: 80px;"></td>
                <td>{{ picture.namePicture }}</td>
                {% for project in picture.projects %}
                    <td>{{ project.projectTitle }}</td>
                {% endfor %}
                <td>
                    {{ include('pictures/_delete_form.html.twig') }}
                    <a href="{{ path('app_pictures_edit', {'id': picture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pictures_new') }}">Create new</a>
{% endblock %}
