{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<main class="mainIndex">
		<h2>Contact</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Nom et Prénom</th>
					<th>E-mail</th>
					<th>Message</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for contact in contacts %}
					<tr>
						<td data-label="Nom et Prénom :">{{ contact.contactName }}</td>
						<td data-label="E-mail :">{{ contact.contactEmail }}</td>
						<td data-label="Message :">{{ contact.contactMessage }}</td>
						<td data-label="Supprimer">
							{{ include('contact/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Donnée vide</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="buttons">
			<a href="{{ path('admin') }}" class="btn">Retour</a>
		</div>
	</main>
{% endblock %}
