{% extends 'base.html.twig' %}

{% block title %}Domaines d'expertise
{% endblock %}

{% block body %}
	<main class="mainIndex">
		<h2>Domaines d'expertise</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Logo</th>
					<th>Titre</th>
					<th>Texte</th>
					<th>Liste</th>
					<th>Modifier</th>
				</tr>
			</thead>
			<tbody>
				{% for skill in skills %}
					<tr>
						<td data-label="Logo :"><img src="{{ asset('uploads/images/' ~ skill.skillPicture) }}" width="50px"></td>
						<td data-label="Titre :">{{ skill.skillTitle }}</td>
						<td data-label="Texte :">{{ skill.skillText }}</td>
						<td data-label="Liste :">{{ skill.skillList }}</td>
						<td data-label="Modifier">
							<a href="{{ path('app_skills_edit', {'id': skill.id}) }}">
								<i class="fa-solid fa-pen"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Donnée vide</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="buttons">
			<a href="{{ path('app_skills_new') }}" class="btn">Ajouter</a>
			<a href="{{ path('admin') }}" class="btn">Retour</a>
		</div>
	</main>
{% endblock %}
