{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<main class="mainIndex">
    <h2>Présentation</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>CV</th>
                <th>Github</th>
                <th>LinkedIn</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for presentation in presentations %}
            <tr>
                <td><img src="{{ asset('uploads/images/' ~ presentation.wallpaper) }}" width="80px"></td>
                <td>{{ presentation.title }}</td>
                <td><img src="{{ asset('uploads/images/' ~ presentation.cv) }}" width="80px"></td>
                <td>{{ presentation.githubLink }}</td>
                <td>{{ presentation.linkedinLink }}</td>
                <td>
                    <a href="{{ path('app_presentation_edit', {'id': presentation.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <a href="{{ path('admin') }}" class="btn">Retour</a>
    </div>
</main>
{% endblock %}
