{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}
<main class="mainIndex">
    <h2>Parcours</h2>

    <table class="table" style="width: 80%;">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Entreprise/École</th>
                <th>Ville</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for career in careers %}
            <tr>
                <td>{{ career.careerTitle }}</td>
                <td>{{ career.careerCompany }}</td>
                <td>{{ career.careerCity }}</td>
                <td>{{ career.startDate }}</td>
                <td>{{ career.endDate }}</td>
                <td>
                    <a href="{{ path('app_career_edit', {'id': career.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <a href="{{ path('app_career_new') }}" class="btn">Ajouter</a>
        <a href="{{ path('admin') }}" class="btn">Retour</a>
    </div>
</main>
{% endblock %}
