{% extends 'base.html.twig' %}

{% block title %}Career{% endblock %}

{% block body %}
    <h1>Career</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ career.id }}</td>
            </tr>
            <tr>
                <th>CareerTitle</th>
                <td>{{ career.careerTitle }}</td>
            </tr>
            <tr>
                <th>CareerCompany</th>
                <td>{{ career.careerCompany }}</td>
            </tr>
            <tr>
                <th>CareerCity</th>
                <td>{{ career.careerCity }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ career.startDate ? career.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ career.endDate ? career.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_career_index') }}">back to list</a>

    <a href="{{ path('app_career_edit', {'id': career.id}) }}">edit</a>

    {{ include('career/_delete_form.html.twig') }}
{% endblock %}
